<form class="profile-search-form" [formGroup]="searchForm">
    <div class="profile-form">
        <div class="two-columns">
            <label class="tt-form-label">
                <span class="tt-form-label__text">Имя пользователя</span>
                <input type="text" class="tt-form-input" formControlName="firstName">
            </label>
            <label class="tt-form-label">
                <span class="tt-form-label__text">Фамилия</span>
                <input type="text" class="tt-form-input" formControlName="lastName">
            </label>

            <label class="tt-form-label">
                <span class="tt-form-label__text">Навыки</span>
                <input type="text" class="tt-form-input" formControlName="stack">
            </label>

        </div>

        <label class="tt-form-label">
            <span class="tt-form-label__text">Telegram username</span>
            <input type="text" class="tt-form-input" formControlName="username">
        </label>

        <label class="tt-form-label">
            <span class="tt-form-label__text">О себе</span>
            <textarea name="" id="" formControlName="description" class="tt-form-input tt-textarea"></textarea>
        </label>
    </div>
</form>