.profile-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.to-settings-icon {
    width: 16px;
    height: 16px;
    color: var(--dark-color);
}

.to-setting-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 190px;
    text-decoration: none;
}

.profile-page__body {
    display: grid;
    grid-gap: 64px;
    grid-template-columns: 1fr 350px;
    padding: 24px;
}

.subscriber-avatar-btn {
    img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    
    }
}

.subscribers-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.img-plus {
    width: 15px;
    height: 15px;
    color: white;
}

.stack-wrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}