<form  class="login-form" 
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1 class="h1 mb60">Вход</h1>

    <label for="" class="tt-control-label mb16">
        Telegram username
        <input type="text"
        formControlName="username" 
        class="tt-input" placeholder="Введите логин" name="" id="username">
    </label>
    <label for="" class="tt-control-label mb32">
        Пароль
        <div class="password-input">   
        <input 
            [type]="isPasswordVisible() ? 'text' : 'password'"
            formControlName="password"
            class="tt-input" 
            placeholder="Введите пароль" 
            name="" id="password">

        <button 
            class="password-eye-btn"
            [class.active]="isPasswordVisible()"
            (click)="isPasswordVisible.set(!isPasswordVisible())" 
        >
            <img src="Content.svg" alt="" class="logo-new">
        </button>
        </div>
    </label>
   
    <button class="btn btn-shadow" type="submit"> Войти </button>
</form>

<img src="/Content.png" alt="logo" class="tt-img">
